# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
node_modules
dist
dist-ssr
dev-dist
coverage
*.local
/.pnp
/.npmrc
.pnp.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?



package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/3rd-party-licenses.txt

#vscode
.vscode/

# Sonarqube
.scannerwork
sonar-project.properties
